<div id="<%= dom_id specialty %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Bar:</strong>
    <%= specialty.bar_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Category:</strong>
    <%= specialty.category %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Is main:</strong>
    <%= specialty.is_main? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= specialty.description %>
  </div>
</div>
